@import url("https://font.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap ");

:root {
  --green: #27ae60;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

section{
  padding: 2rem 9%;
}

section:nth-child(even){
  background: #eee;
}

.sub-heading{
  text-align: center;
  color: var(--green);
  font-size: 2rem;
  padding-top: 1rem;
}

.heading{
  text-align: center;
  color: var(--black);
  font-size: 3rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background: var(--black);
  border-radius: .5rem;
  cursor: pointer;
  padding:.8rem 3rem;
}

.btn:hover{
  background: var(--green);
  letter-spacing: .1rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

header .logo {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bolder;
}

header .logo i {
  color: var(--green);
}

header .navbar a {
  font-size: 1.7rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: var(--light-color);
}

header .navbar a.active,
header .navbar a:hover {
  color: #fff;
  background: var(--green);
}

header .icons i,
header .icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--black);
  border-radius: 50%;
  background: #eee;
}

header .icons i:hover,
header .icons a:hover {
  color: #fff;
  background: var(--green);
  transform: rotate(360deg);
}


header .icons #menu-bars {
  display: none;
}

/* media queries */

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1rem 2rem;
  }

  section{
    padding: 2rem;
  }

    .Dishes .box-container .box img{
  height:auto ;
  width: 100%;
  }

  .Order form .inputBox .input{
  width: 100%;
}

}

#search-form{
position: fixed;
top:-110%; left: 0;
height:100%; width:100%;
z-index:1004;
background: rgba(0,0,0,.8);
display: flex;
align-items: center;
justify-content: center;
padding: 0 1rem;
}

#search-form.active{
  top:0;
}

#search-form #search-box{
  width: 50rem;
  border-bottom: .1rem solid #fff;
  padding: 1rem 0;
  color: #fff;
  font-size: 3rem;
  text-transform: none;
  background: none;
}

.home .home-slider .slide .content h3{
  font-size: 5rem;
}

#search-form #search-box::placeholder{
  color: #eee;
}

#search-form #search-box::-webkit-search-cancel-button{
  -webkit-appearance: none;
}

#search-form label{
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
}

#search-form label:hover{
  color: var(--green);
}

#search-form #close{
  position: absolute;
  color: #fff;
  cursor: pointer;
  top: 2rem; right: 3rem;
  font-size: 5rem;
}

.home .home-slider .slide{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 9rem;
}

.home .home-slider .slide .content{
  flex:1 1 45rem;
}

.home .home-slider .slide .image{
  flex:1 1 45rem;
}

.home .home-slider .slide .image img{
  width: 100%;
}

.home .home-slider .slide .content span{
  color: var(--green);
  font-size: 2.5rem;
}

.home .home-slider .slide .content h3{
  color: var(--black);
  font-size: 7rem;
}

.home .home-slider .slide .content p{
  color: var(--light-color);
  font-size: 2.2rem;
  padding: 5rem 0;
  line-height: 1.5;
}

.swiper-pagination-bullet-active{
  background: var(--green);

}

.Dishes .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 1.5rem;
}


.Dishes .sub-heading{padding-top: 10rem;}

.Dishes .box-container .box {
  padding: 2.5rem;
  background: #fff;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
  text-align: center;
}

.Dishes .box-container .box .fa-heart,
.Dishes .box-container .box .fa-eye{
  position: absolute;
  top: 1.5rem;
  background: #eee;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: var(--black);
}

.Dishes .box-container .box .fa-heart:hover,
.Dishes .box-container .box .fa-eye:hover{
  background: var(--green);
  color: #fff;
}

.Dishes .box-container .box .fa-heart{
  right:-15rem;
}

.Dishes .box-container .box .fa-eye{
  left:-15rem;
}

.Dishes .box-container .box:hover .fa-heart{
  right:1.5rem;
}

.Dishes .box-container .box:hover .fa-eye{
  left:1.5rem;
}

.Dishes .box-container .box img{
  height:17rem ;
  margin:1rem 0;
}

.Dishes .box-container .box h3{
  color: var(--black);
  font-size: 2.5rem;
}


.Dishes .box-container .box .stars{
  padding:1rem 0;
}

.Dishes .box-container .box .stars i{
 font-size: 1.7rem;
 color: var(--green);
}

.Dishes .box-container .box span{
  color: var(--green);
  font-weight: bolder;
  margin-right: 1rem;
  font-size: 2.5rem;
}

.About .row{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

.About .row .image{
  flex:1 1 45rem;
}

.About .row .image img{
  width: 100%;
}

.About .row .content{
  flex:1 1 45rem;
}

.About .row .content h3{
  color: var(--green);
  font-size: 4rem;
  padding:.5rem 0 ;
}

.About .row .content p{
  color: var(--light-color);
  font-size: 1.5rem;
  padding:.5rem 0 ;
  line-height: 2;
}

.About .row .content .icons-container{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem 0;
  margin-top: .5rem;
}

.About .row .content .icons-container .icons{
  background: #eee;
  border-radius: .5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex: 1 1 12rem;
  padding: 1.5rem 1rem;
}

.About .row .content .icons-container .icons i{
  font-size: 2.5rem;
  color: var(--green);
}

.About .row .content .icons-container .icons span{
  font-size: 1.5rem;
  color: var(--black);
}

.About .sub-heading{padding-top: 10rem;}

.Menu .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.Menu .box-container .box {
  background: #eee;
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
}

.Menu .box-container .box:hover {
  border: 5px solid var(--green);
}


.Menu .box-container .box .image{
  height: 25rem;
  width: 100%;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
}

.Menu .box-container .box .image img{
  height: 100%;
  width: 100%;
  border-radius: .5rem;
}

.Menu .box-container .box .image .fa-heart{
  position: absolute;
  top: 2.5rem; right: 2.5rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  background:#fff ;
  border-radius: 50%;
  color: var(--black);

}

.Menu .box-container .box .image .fa-heart:hover{
  background-color: var(--green);
  color:#fff;
}

.Menu .box-container .box .content{
  padding: 2rem;
  padding-top: 0;
}

.Menu .box-container .box .content .stars{
  padding-bottom: 1rem;
}

.Menu .box-container .box .content .stars i{
 font-size: 1.7rem;
 color: var(--green);
} 

.Menu .box-container .box .content h3{
  color: var(--black);
  font-size: 2.5rem;
}

.Menu .box-container .box .content p{
  color: var(--light-color);
  font-size: 1.6rem;
  padding: .5rem 0;
  line-height: 1.5;
}

.Menu .box-container .box .content .price{
  color: var(--green);
  margin-left: 1rem;
  font-size: 2.5rem;
}

.Menu .sub-heading{padding-top:10rem};

.Review .slide{
  padding: 2rem;
  color: var(--box-shadow); 
  border: .1rem solid rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  position: relative;
}

.Review .slide .fa-quote-right{
  position: absolute;
  top: 2rem; right: 2rem;
  font-size: 6rem;
  color: #ccc;
}

.Review .slide .user{
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding-bottom: 1.5rem;
}

.Review .slide .user img{
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.Review .slide .user h3{
  color: var(--black);
  font-size: 2rem;
  padding-bottom: .5rem;
}

.Review .slide .user i{
  font-size: 1.3rem;
  color: var(--green);
}

.Review .slide p{
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--light-color);
}

.Review .sub-heading{padding-top: 10rem;}

.Order form {
  max-width: 99rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  border: .1rem solid rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 1.5rem;
  margin: 0 auto;
}

.Order form .inputBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.Order form .inputBox .input{
  width: 49%;
}


.Order form .inputBox .input span{
  display: block;
  padding: .5rem 0;
  font-size: 1.5rem;
  color: var(--light-color);
}

.Order form .inputBox .input input,
.Order form .inputBox .input textarea{
  background: #eee;
  border-radius: .5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
  margin-bottom: 1rem;
  width: 100%;
}

.Order form .inputBox .input input:focus,
.Order form .inputBox .input textarea:focus{
border: .1rem solid var(--green);
}



.Order form .inputBox .input textarea{
  height: 20rem;
  resize: none;
}

.Order form .inputBox .btn{
  margin-top: 0;
}

.Order .sub-heading{padding-top: 10rem;}

.Footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}

.Footer .box-container .box h3{
  padding: .5rem 0;
  font-size: 2.5rem;
  color: black;
}

.Footer .box-container .box a{
  display: block;
  padding: .5rem 0;
  font-size: 1.8rem;
  color: var(--light-color)
}

.Footer .box-container .box a:hover{
  color: var(--green);
  text-decoration: underline;
}

.Footer .credit{
  text-align: center;
  border-top: 1rem solid rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  color: var(--black);
  padding: .5rem;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}

.Footer .credit span{
  color: var(--green);
}


























@media (max-width: 768px) {

  header .icons #menu-bars {
    display: inline-block;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0%;
    right: 0%;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background: #eee;
  }

    .Dishes .box-container .box img{
  height:auto ;
  width: 100%;
  }

  .Order form .inputBox .input{
  width: 100%;
}
}
